@import "src/common/styles/sass/varialbles";

.wrapper {
  min-width: 260px;
  background-color: #161616;
  border-bottom: 2px solid transparent;
  padding: 38px 42px;
  transition: all .15s ease-in-out;

  .icon {
    height: 58px;
    margin-bottom: 22px;


  }

  .title {

  }

  .description {

  }

}

