@import "src/common/styles/sass/varialbles";

.wrapper {
  width: 260px;
  background-color: #161616;
  border-bottom: 2px solid transparent;
  padding: 38px 42px;
  transition: all .15s ease-in-out;

  .icon {
    margin-bottom: 22px;
    font-size: 4em;
    height: 49px;
  }

  .title {
    color: #f3f3f3;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: -.5px;
    margin-bottom: 14px;
  }

  .description {
    margin-bottom: 0;
  }

}

