@import "src/common/styles/sass/varialbles";

.wrapper {
  background-color: $backgroundSecondaryColor;
  width: 300px;

  .imgContainer {
    height: 300px;
    width: 100%;
    background-color: goldenrod;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .title {
  }

  .description {
  }
}




