@import "src/common/styles/sass/varialbles";

.wrapper {
  background-color: $backgroundSecondaryColor;
  width: 344px;
  border-bottom: 2px solid transparent;
  transition: all .15s ease-in-out;

  .container {
    position: relative;
    height: 300px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .infoContainer {
      position: absolute;
      height: 100%;
      width: 100%;
      background-color: $backgroundSecondaryColor;
      opacity: 0.9;
      padding: 0;

      .title {
      }

      .description {
      }
    }
  }


}




