.wrapper {
    height: 100vh;
    background-color: darkcyan;
}
.container {
    flex-direction: column;
    justify-content: flex-start;
}
.title {
    background-color: aqua;

}

.skills {
    border: 1px solid;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}


