@import 'src/common/styles/sass/varialbles';

.wrapper {
  min-height: 100vh;
  background-color: $backGroundColor;
  display: flex;
  align-items: flex-start;
  width: 100%;
  color: $textMainColor;

  .container {
    flex-direction: column;
    justify-content: flex-start;
    margin: 70px auto;
    box-sizing: border-box;
    display: flex;

    .skills {
      width: 100%;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 30px;
      @media screen and (max-width: 760px) {
        flex-direction: column;
        align-items: center;
      }
    }

  }
}


