@import "src/common/styles/sass/varialbles";

.wrapper {
  min-height: 100vh;
  background-color: $backGroundColor;
  display: flex;
  align-items: center;
  color: $textMainColor;

  .formWrapper {
    display: flex;
    flex-direction: column;

    .contactWrapper {
      display: flex;
      flex-wrap: wrap;
      margin-left: -15px;
      margin-right: -15px;
      flex: 2 1;

      .formContent {
        flex: 0 0 58.33333%;
        max-width: 58.33333%;
        padding-left: 15px;
        padding-right: 15px;
        position: relative;
        width: 100%;
        box-sizing: border-box;

        .contactForm {
          .contentTitle {
            margin-bottom: 22px;
            line-height: 1.5;
            color: $textPrimaryColor;
            font-size: 1.5rem;
            font-weight: 500;
            margin-top: 0;

          }

          .contentRow {
            display: flex;
            flex-wrap: wrap;
            max-width: 100%;
            box-sizing: border-box;

            .subject, .message, .button {
              flex: 0 0 100%;
              max-width: 100%;
              margin-bottom: 35px;
              width: 100%;
              box-sizing: border-box;
            }


            .name, .email {
              flex: 0 0 50%;
              max-width: 50%;
              margin-bottom: 35px;
              width: 100%;
              box-sizing: border-box;

            }

            input, textarea {
              color: #777;
              background-color: $backgroundSecondaryColor;
              border: none;
              border-bottom: 1px solid #1d1d1d;
              border-radius: 0;
              font-size: 15px;
              height: auto;
              padding: 9px 14px;
              background-clip: padding-box;
              display: block;
              font-weight: 400;
              line-height: 1.5;
              transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
              width: 100%;
              overflow: visible;
              margin: 0;
              outline: none;

              &:focus-visible {
                box-shadow: none;
                border-bottom: 1px solid #00d187;
              }

            }

            .buttonSend {
              text-decoration: none;
              background-color: $geometryFigureColor;
              margin-right: 23px;
              padding: 10px 35px;
              border-radius: 30px;
              color: $textMainColor;
              font-size: 14px;
              border: 1px solid #009e66;
            }
          }
        }
      }

      .infoContent {
        flex: 0 0 41.66667%;
        max-width: 41.66667%;
        padding-left: 15px;
        padding-right: 15px;
        position: relative;
        width: 100%;
        box-sizing: border-box;

        .contactInfo {
          padding-left: 15px;

          .infoTitle {
            margin-bottom: 22px;
            line-height: 1.5;
            color: $textPrimaryColor;
            font-size: 1.5rem;
            font-weight: 500;
            margin-top: 0;

          }

          .infoDescription {

          }

          ul {
            list-style: none;
            margin: 0;
            padding-left: 0;
            display: block;
            margin-block-start: 1em;
            margin-block-end: 1em;
            margin-inline-start: 0;
            margin-inline-end: 0;

            .media {
              display: flex;

              .iconInfo {
                width: 67px;

                img {
                  height: 60px;
                  padding: 12px 22px 12px 0;
                }
              }

              .mediaBody {
                border-left: 2px solid rgba(255, 255, 255, .15);
                padding: 0 0 12px 22px;
                flex: 1;

                .infoType {
                  font-size: 15px;
                  font-weight: 600;
                  margin-bottom: 0;
                }

                .infoValue {

                }
              }
            }
          }
        }

      }
    }
  }
}





