@import "src/common/styles/sass/varialbles";

.wrapper {
  min-height: 20vh;
  background-color: $backGroundColor;
  display: flex;
  align-items: center;
  .title{
    color: $textPrimaryColor;
    margin-bottom: 0;
  }
  .container {
    flex-direction: column;

    .itemsWrapper {
      margin: 15px 0;
      display: flex;
      justify-content: space-between;
      width: 360px;
    }
  }
}



