
$firstFont:'Poppins',sans-serif;
$textMainColor:#fff;
$textPrimaryColor: #f0f0f0;
$textSecondaryColor:#9f9f9f;
$geometryFigureColor:#009e66;
$backGroundColor:#101010;
$backgroundSecondaryColor: #161616;