@import "src/common/styles/sass/varialbles";

.contactForm {
  .contentTitle {
    margin-bottom: 22px;
    line-height: 1.5;
    color: $textPrimaryColor;
    font-size: 1.5rem;
    font-weight: 500;
    margin-top: 0;
    padding: 0 15px;

  }

  .contentRow {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    box-sizing: border-box;

    .subject, .message, .button {
      flex: 0 0 100%;
      max-width: 100%;
      margin-bottom: 35px;
      width: 100%;
      padding: 0 15px;
    }


    .name, .email {
      flex: 0 0 50%;
      max-width: 50%;
      margin-bottom: 35px;
      width: 100%;
      padding: 0 15px;

    }

    input, textarea {
      color: #777;
      background-color: $backgroundSecondaryColor;
      border: none;
      border-bottom: 1px solid #1d1d1d;
      border-radius: 0;
      font-size: 15px;
      height: auto;
      padding: 9px 14px;
      background-clip: padding-box;
      display: block;
      font-weight: 400;
      line-height: 1.5;
      transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
      width: 100%;
      overflow: visible;
      margin: 0;
      outline: none;

      &:focus-visible {
        box-shadow: none;
        border-bottom: 1px solid #00d187;
      }

    }

    .buttonSend {
      text-decoration: none;
      background-color: $geometryFigureColor;
      margin-right: 23px;
      padding: 10px 35px;
      border-radius: 30px;
      color: $textMainColor;
      font-size: 14px;
      border: 1px solid #009e66;
    }
  }
}