.about {
    height: 100vh;
    background-color: aquamarine;
}

.text {
    width: 300px;
    background-color: blueviolet;
}
.photo {
    width: 300px;
    height: 400px;
    background-color: blue;
}